/* General rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:  Helvetica, Arial, sans-serif;
  background-color: #14141c;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

ul {
  list-style: none;
}
ul li a {
  color: #a1a1a1;
}

a {
  text-decoration: none;
}


main {
  padding: 70px 0 70px 200px;
  background-color: #14141c;
}

main p {
  font-size: .7rem;
  color: #a1a1a1;
}

section p {
  padding: 10px 0;
}
/* End General rules */


/* Start Footer */

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #222323;
  z-index: 1000;
}
footer > section {
  padding: 0 10px;
}
footer i {
  color: white;
}
/* End footer */


/* End general rules */


/* Start header */
.nav-home-xs {
  display: none;
}
.nav-home {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: black;
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 70px;
}

/* Logo */
.logo-container {
  line-height: 80px;
}
#logo {
  height: 35px;
  margin-left: 10px;
  vertical-align: middle;
}


/* Home nav */
.nav-home ul li {
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 20px;
  font-size: .7rem;
}
.nav-home ul li a {
  vertical-align: middle;
}

.home ul li:first-child {
  border-left: 3px solid white;
}
.home ul li:first-child a {
  color: #ccc;
}
.home ul li:not(:first-child) {
  border-left: 3px solid transparent;
}
.home ul img {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.playlist {
  flex-grow: 2;
}
.playlist h4 {
  margin-bottom: 10px;
  padding-left: 13px;
}

.playlist ul {
  height: 255px;
  overflow: auto;
}
.playlist ul li div {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #aaa;
  margin-right: 10px;
  vertical-align: middle;
}
.playlist ul li div span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  color: black;
}

/* Section Upgrade */
.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 70px;
  background-color: #0c0b0e;
  z-index: 500;
  padding-right: 5px;
}

.upgrade-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  float: right;
}
.upgrade-container a {
  padding: 0.6em 1.3em;
  color: white;
  border-radius: 1.5em;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 0.7rem;
}

/* Section installa app */
.install-app {
  width: 100%;
  color: #a1a1a1;
  padding: 10px;
  background-color: black;
}
.install {
  padding-bottom: 10px;
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 10px;
  line-height: 15px;
}
.install i {
  vertical-align: middle;
}
.install-app h5, .install-app h4 {
  display: inline-block;
}
.install a, .install h5 {
  color: #a1a1a1;
}
.username {
  line-height: 2rem;
}
.username i {
  font-size: 2rem;
  vertical-align: middle;
  color: #a1a1a1;
}
/* End home nav */


/*  MAIN */
.wrapper-main {
  padding: 20px;
}
.nav-main {
  margin-bottom: 20px;
}
.nav-main ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-main ul li {
  padding: 10px;
}
.nav-main ul li a {
  text-transform: uppercase;
  color: #aaa;
  font-size: .8rem;
}

/*Sections main */
.content {
  display: flex;
  margin: 20px 0;
}
.square-family, .circle-family {
  width: 15%;
  max-width: 250px;
}
.square-family:not(:last-child),
.circle-family:not(:last-child) {
  margin-right: 2%;
}
.square-family img,
.circle-family img {
  width: 100%;
}
.circle-family img {
  border-radius: 50%;
}

.caption {
  padding: 10px;
  text-align: center;
}

/* END  MAIN */


/* FOOTER */

/* current title section */
.current-title {
  display: flex;
  align-items: center;
}
.current-title img {
  width: 40px;
}
.current-title p {
  padding: 0;
  color: #a1a1a1;
  font-size: .6rem;
}
.current-caption {
  margin-left: 10px;
}
.current-title-icons {
  margin-left: 35px;
}
.current-title-icons i {
  font-size: .8rem;
  color: #a1a1a1;
}
.current-title-icons i:first-child {
  margin-right: 10px;
}
.current-title, .actions {
  flex-basis: 30%;
}

/* playing section */
.playing {
  flex-basis: 40%;
  text-align: center;
}
.playing i {
  font-size: .7rem;
  margin: 10px;
  vertical-align: middle;
}
.playing i:nth-child(3) {
  font-size: 1.3rem;
}
.time-bar {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  height: 3px;
  background-color: #a1a1a1;
  border-radius: 1.5px;
  vertical-align: middle;
}
.time-bar .fill {
  width: 20%;
  height: 100%;
  background-color: #ddd;
  border-radius: 1.5px;
}
.player-icon-group, .bar-container {
  height: 35px;
}
.bar-container::before, .bar-container::after {
  color: white;
  font-size: .6rem;
}
.bar-container::before {
  content: "0:25";
  margin-right: 10px;
}
.bar-container::after {
  content: "4:35";
  margin-left: 10px;
}

/* actions section */
.actions-container {
  float: right;
}
.actions-icons {
  display: inline-block;
  margin-right: 10px;
}
.actions-icons i {
  font-size: .6rem;
  vertical-align: middle;
}
.actions-icons i:nth-child(2) {
  margin: 10px;
}
.volume-bar {
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #a1a1a1;
  vertical-align: middle;
  border-radius: 1px;
}
.volume-bar .fill {
  width: 30%;
  height: 100%;
  background-color: #ddd;
  border-radius: 1px;
}
/* END FOOTER */
@media screen and (max-width: 992px) and (min-width: 769px) {
  .content {
    flex-wrap: wrap;
  }
  .square-family, .circle-family {
    width: 22%;
  }
  .square-family:not(:last-child),
  .circle-family:not(:last-child) {
    margin-right: 4%;
  }
  .square-family:nth-child(4n+4),
  .circle-family:nth-child(4n+4) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-wrap: wrap;
  }
  .square-family, .circle-family {
    width: 49%;
  }
  .square-family,
  .circle-family {
    margin-right: 2%;
  }
  .square-family:nth-child(2n+2),
  .circle-family:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 650px) {

  /* NAV HEADER */
  .nav-home {
    display: none;
  }
  .nav-home-xs {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30px;
    background-color: black;
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 70px;
    text-align: center;
  }
  .nav-home-xs ul li {
    padding: 5px 0;
  }
  .nav-home-xs ul i{
    font-size: 20px;
    color: white;
  }
  .nav-home-xs ul img {
    width: 20px;
  }
  /* UPGRADE SECTION */
  .upgrade {
    width: calc(100% - 30px);
    height: 70px;
  }

  .install-app {
    padding: 0px;
  }
  .install {
    border-bottom: none;
  }
  .username i {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  /* MAIN SECTION */
  main {
    padding-left: 30px;
  }
  .wrapper-main {
    padding: 10px;
  }

  .nav-main ul li {
    padding: 5px;
  }
  .nav-main ul li a {
    font-size: .5rem;
  }

  /* FOOTER */
  footer > section {
    padding: 0 5px;
  }

  /* current section */
  .current-title img {
    width: 30px;
  }
  .current-caption {
    margin-left: 5px;
  }
  .current-title-icons {
    margin-left: 10px;
  }
  .current-title-icons i {
    font-size: .7rem;
  }
  .current-title-icons i:first-child {
    margin-right: 0;
  }
  .current-title, .actions {
    flex-basis: 20%;
  }

  /* playing section */
  .playing {
    flex-basis: 60%;
  }
  .playing i {
    font-size: .6rem;
    margin: 10px;
    vertical-align: middle;
  }
  .playing i:nth-child(3) {
    font-size: 1rem;
  }
  .time-bar {
    width: 50%;
  }

  /* actions section */
  .actions-icons {
    display: inline-block;
    margin-right: 5px;
  }
  .actions-icons i {
    font-size: .5rem;
  }
  .actions-icons i:nth-child(2) {
    margin: 0 5px;
  }
  .volume-bar {
    width: 50px;
  }
}
